@charset "UTF-8";

/* 노말라이즈 */
body, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
}

label[for] {
    cursor: pointer;
    user-select: none;
}

/* 라이브러리 */
.text-overflow-el {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.abs-full {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.relative {
    position: relative;
}

.margin-top-30 {
	margin-top:30px;
}

.text-align-center {
	text-align:center;
}

.ratio-16-9::after {
    content: "";
    display: block;
    padding-top: 56.25%;
}

.ratio-1-1::after {
    content: "";
    display: block;
    padding-top: 100%;
}

.img-box.img-box-auto>img {
    display: block;
    max-width: 100%;
    width: auto;
}

.none {
    display: none !important;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.img-box>img, .img-box>svg {
    width: 100%;
    display: block;
}

.text-align-center {
    text-align: center;
}

.video-box>video {
    width: 100%;
    display: block;
}

.con {
    margin-left: auto;
    margin-right: auto;
}

.border-red {
    border: 10px solid red;
}

.height-50 {
    min-height: 50px !important;
}

.height-300 {
    min-height: 300px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-30 {
    margin-top: 30px;
}

.padding-left-10 {
    padding-left: 10px;
}

.padding-0-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.padding-0-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.padding-10-0 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.padding-20-0 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.bg-white {
    background-color: white;
}

.padding-10 {
    padding: 10px;
}

.margin-right-10 {
    margin-right: 10px;
}

.height-100p {
    height: 100%;
}

.width-100p {
    width: 100%;
}

.border-box {
    box-sizing: border-box;
}

.min-width-30 {
    min-width: 30px;
}

.min-width-50 {
    min-width: 50px;
}

.min-width-80 {
    min-width: 80px;
}

.min-width-100 {
    min-width: 100px;
}

/* flex 관련 */
.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.flex-ai-c {
    align-items: center;
}

.flex-jc-c {
    justify-content: center;
}

.flex-jc-sb {
    justify-content: space-between;
}

.flex-column {
    flex-direction: column;
}

.flex-row-wrap {
    flex-flow: row wrap;
}

.flex-1-0-0 {
    flex: 1 0 0;
}

/* 테이블 관련 */
.table-box {
    border-top: 3px solid black;
    box-sizing: border-box;
}

.table-box>table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.table-box>table thead {
    border-bottom: 1px solid black;
}

.table-box>table th, .table-box>table td {
    padding: 10px;
    text-align: left;
}

.table-box>table th:first-child, .table-box>table td:first-child {
    padding-left: 0;
}

.table-box tr {
    border-bottom: 1px solid #dfdfdf;
}

img {
    width:300px;
}


@media ( max-width :800px ) {
    .table-box>table>colgroup>col:first-child {
        width: 100% !important;
    }
    .table-box>table>colgroup>col {
        width: auto !important;
    }
    .table-box, .table-box head, .table-box tbody, .table-box tr, .table-box td, .table-box th {
        display: block;
    }
    .table-box tr.flex {
        display: flex;
    }
    .table-box>table th, .table-box>table td {
        border: 0;
        padding: 0;
        text-align: left;
    }
    .table-box>table tr {
        padding-top: 20px;
    }
}

@media ( max-width :800px ) {
    .table-box.table-box-vertical>table td {
        margin-top: 10px;
    }
    .table-box.table-box-vertical td>.btn {
        display: block;
        width: 100%;
        margin-left: 0;
        border-radius: 4px;
    }
    .table-box.table-box-vertical td>.btn+.btn {
        margin-top: 10px;
    }
    .table-box.table-box-vertical tr {
        padding-bottom: 20px;
    }
    .table-box.table-box-vertical .tr-do>th {
        display: none !important;
    }
}

@media ( max-width :800px ) {
    .table-box.table-box-data thead, .table-box.table-box-data th, .table-box.table-box-data td {
        display: none;
    }
    .table-box.table-box-data td.visible-on-sm-down {
        display: block;
    }
    .table-box.table-box-data td.visible-on-sm-down {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .table-box.table-box-data td.visible-on-sm-down a {
        text-decoration: none;
    }
    
    .btn-box > .btn {
        display: block;
        width: 100%;
        margin-left: 0 !important;
        border-radius: 4px;
        margin-top:10px !important;
    }
    
    .btn-box > .btn:first-chid {
        margin-top:0 !important;
    }
}

@import url(https://fonts.googleapis.com/css?family=Montserrat);

$hint: #FAF8F8;
$turqoise: #17EAD9;
$cornflower-blue: #6078EA;
$tundora: #4B4848;
$electric-violet: #7C26F8;
$snappy:  cubic-bezier(0.694,  0.048, 0.335, 1.000);

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes color-1 {
  0% {
    background-color: #EB73B9;
  }
  100% {
    background-color: #17EAD9;
  }
}

::selection {
  background: $cornflower-blue;
  color: white;
  text-shadow: none;
}

::-webkit-selection{
  background: $cornflower-blue;
  color: white;
  text-shadow: none;
}


body {
  font-family: 'Montserrat', 'Helevtica', sans-serif;
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: darken($hint, 4%);
  color: $tundora;
  justify-content: center;
  transition: background-color 1.25s ease-in-out;
  &.is-focus {
    background-color: $turqoise;
  }
}
.title-container {
  position: absolute;
  top: 38%;
  left: 50%;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  transform: translate(-50%, -50%);
  
  .title {
    transform: translateY(-100%);
    transition: transform 0.3s ease;
    transition-delay: 0.25s;
    margin: 0;
    color: $cornflower-blue;
  }
  .title-down {
    transform: translateY(100%);
    transition: transform 0.3s ease;
    transition-delay: 0.25s;
    margin: 0;
    color: $cornflower-blue;
  }
  .is-focus & {
    .title {
      transform: translateY(0);
    }
  }
  .is-type & {
    .title-down {
      transform: translateY(-30px);
    }
    .title {
      transform: translateY(-100%);
    }
  }
}

.field-container {
  position: relative;
  padding: 0;
  margin: 0;
  border: 0;
  width: 330px;
  height: 40px;
}

.icons-container {
  position: absolute;
  top: 11px;
  right: -25px;
  width: 35px;
  height: 35px;
  overflow: hidden;
}

.icon-close {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 75%;
  height: 75%;
  opacity: 0;
  cursor: pointer;
  transform: translateX(-200%);
  border-radius: 50%;
  transition: opacity 0.25s ease, transform 0.43s $snappy;
  &:before {
    content: "";
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    border: 2px solid transparent;
    border-top-color: $cornflower-blue;
    border-left-color: $cornflower-blue;
    border-bottom-color: $cornflower-blue;
    transition: opacity 0.2s ease;
  }
  .x-up {
    position: relative;
    width: 100%;
    height: 50%;
    &:before {
      content: "";
      position: absolute;
      bottom: 2px;
      left: 3px;
      width: 50%;
      height: 2px;
      background-color: $cornflower-blue;
      transform: rotate(45deg);
    }
    &:after {
      content: "";
      position: absolute;
      bottom: 2px;
      right: 0px;
      width: 50%;
      height: 2px;
      background-color: $cornflower-blue;
      transform: rotate(-45deg);
    }
  }
  .x-down {
    position: relative;
    width: 100%;
    height: 50%;
    &:before {
      content: "";
      position: absolute;
      top: 5px;
      left: 4px;
      width: 50%;
      height: 2px;
      background-color: $cornflower-blue;
      transform: rotate(-45deg);
    }
    &:after {
      content: "";
      position: absolute;
      top: 5px;
      right: 1px;
      width: 50%;
      height: 2px;
      background-color: $cornflower-blue;
      transform: rotate(45deg);
    }
  }
  .is-type & {
    &:before {
      opacity: 1;
      animation: spin 0.85s infinite;
    }
    .x-up {
      &:before, &:after {
        animation: color-1 0.85s infinite;
      }
      &:after {
        animation-delay: 0.3s;
      }
    }
    .x-down {
      &:before, &:after {
        animation: color-1 0.85s infinite;
      }
      &:before {
        animation-delay: 0.2s;
      }
      &:after {
        animation-delay: 0.1s;
      }
    }
  }
}

.icon-search {
  position: relative;
  top: 5px;
  left: 8px;
  width: 50%;
  height: 50%;
  opacity: 1;
  border-radius: 50%;
  border: 3px solid mix($cornflower-blue, white, 35%);
  transition: opacity 0.25s ease, transform 0.43s $snappy;
  &:after {
    content: "";
    position: absolute;
    bottom: -9px;
    right: -2px;
    width: 4px;
    border-radius: 3px;
    transform: rotate(-45deg);
    height: 10px;
    background-color: mix($cornflower-blue, white, 35%);
  }
}

.field {
  border: 0;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  background: white;
  border-radius: 3px;
  box-shadow: 0px 8px 15px rgba($tundora, 0.1);
  transition: all 0.4s ease;
  &:focus {
    outline: none;
    box-shadow: 0px 9px 20px rgba($tundora, 0.3);
    + .icons-container {
      .icon-close {
        opacity: 1;
        transform: translateX(0);
      }
      .icon-search {
        opacity: 0;
        transform: translateX(200%);
      }
    }
  }
}
/* 폼 관련 */
.form1 .form-control-box>input, .form1 .form-control-box>textarea {
    width: 100%;
    padding: 0;
    display: block;
    box-sizing: border-box;
    padding: 10px;
}

.form1 .form-control-box>textarea {
    min-height: 300px;
    resize: none;
}

.form1 .form-control-box>select {
    width: 100%;
    padding: 0;
    display: block;
    box-sizing: border-box;
    padding: 10px;
}

.form1 .form-row {
    display: flex;
    flex-wrap: wrap;
}

.form1 .form-row>.form-control-label {
    display: flex;
    align-items: center;
    padding: 10px;
    font-weight: bold;
}

.form1 .form-row>.form-control-box {
    display: flex;
    align-items: center;
    padding: 10px;
}

.form1 th, .form-control-label {
    /* `로그인 아이디` 문구가 줄 바꿈 될 때 공백기준으로 줄바꿈 되도록 */
    word-break: keep-all;
}

/* 버튼관련 */
.btn {
    font-size: 1rem;
    line-height: 1rem;
    padding: 10px 15px 7px 15px;
    display: inline-flex;
    font-weight: bold;
    border-radius: 10px;
    outline: 0;
    border: 0;
    cursor: pointer;
    background-color: #3D94F6;
    color: #FFFFFF;
    text-shadow: 1px 1px 20px #000000;
    text-decoration: none;
    box-sizing: border-box;
    justify-content: center;
    text-align: center;
}

.btn-success {
    background-color: #28a745;
}

.btn-info {
    background-color: #17a2b8;
}

.btn-danger {
    background-color: #dc3540;
}

.btn-warning {
    background-color: #ffc10;
}

.btn+.btn {
    margin-left: 10px;
}

.btn-inline-box {
    display: flex;
}

.btn-inline-box>.btn {
    display: block;
    flex-grow: 1;
    border-radius: 4px;
}

.bold {
    font-weight: bold;
}

.badge {
    background-color: #3D94F6;
    color: #FFFFFF;
    padding: 0 7px;
    border-radius: 10px;
}

.badge-success {
    background-color: #28a745;
}

.badge-info {
    background-color: #17a2b8;
}

.badge-danger {
    background-color: #dc3540;
}

.badge-warning {
    background-color: #ffc10;
}

.te-ww-container .tui-editor-contents {
    padding-left: 10px !important;
    padding-right: 10px;
}

.te-md-container .te-preview {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.tui-md-code-block.CodeMirror-linebackground {
    left: 10px !important;
    right: 0 !important;
}

.tui-editor-defaultUI pre.CodeMirror-line {
    padding-left: 10px !important;
    padding-right: 0 !important;
}

.tui-editor-defaultUI pre {
    word-break: break-all !important;
    white-space: pre-wrap;
}

.tui-editor-contents pre {
    padding-left: 0 !important;
    padding-right: 0 !important;
}